<div class="padding">
  <h1 class="title">Recicle aqui</h1>
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Escolha o material</h2>

      <section class="example-section" *ngFor="let item of items; let i=index">
        <mat-checkbox
          class="example-margin"
          name="materials-{{i}}"
          [(ngModel)]="item.checked"
          [checked]="item.checked"
          >
          {{ item.name }} ({{ item.points }})
        </mat-checkbox>
        <div *ngIf="item.checked">
          <mat-form-field class="material-qty-size">
            <mat-label>Qty</mat-label>
            <input matInput type="number">
          </mat-form-field>
        </div>
      </section>
      <br />
      <button mat-raised-button color="accent">
        Confirmar
      </button>
    </mat-card-content>
  </mat-card>
</div>
