.badge-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.badge-card {
  width: 80px;
  margin-right: 30px;
}

.badge-carditem {
  background-color: #fff;
  color: #ffa500;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.badge-name {
  border: 1px solid #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  text-align: center;
}

.badge-size {
  font-size: 5rem;
}
