<div class="padding">
  <h1 class="title">Minhas Badges</h1>
  <div class="badge-container">
    <div *ngFor="let badge of badges" class="badge-card">
      <div class="badge-carditem">
        <mat-icon class="badge-size">workspace_premium</mat-icon>
      </div>
      <div class="badge-name">{{ badge }}</div>
    </div>
  </div>
</div>
