<div class="padding">
  <h1 class="title">Ranking</h1>

  <mat-card *ngFor="let user of users" class="ranking-card">
    <mat-card-header>
      <div mat-card-avatar class="background-cover" [ngStyle]="{'background-image': 'url('+user.avatar+')'}"></div>
      <mat-card-title>{{ user.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="ranking-points">{{ user.points }} pts</div>
    </mat-card-content>

  </mat-card>
</div>
