.drawer-container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}

.user-avatar-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.game-start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-menu {
  cursor: pointer;
}
