<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Vamos Reciclar!</span>
</mat-toolbar>

<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="user-avatar-image"></div>
        <mat-card-title>player1</mat-card-title>
        <mat-card-subtitle>30 pts</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item class="button-menu" (click)="navigate('badge')">
            Minhas Badges
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="button-menu" (click)="navigate('ranking')">
            Ranking
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-drawer>
  <mat-drawer-content>
    <div class="game-start">
      <button mat-raised-button (click)="navigate('game-detail')" color="accent">
        Iniciar Reciclagem
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
