<div class="padding">
  <h1 class="title">Login</h1>
  <section class="description">
    Jogo educativo trabalho de APS, escolha um nome de usuário para entrar.
  </section>
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput type="text" autocomplete="off" placeholder="player1">
  </mat-form-field>

  <div>
    <a mat-raised-button routerLink="/game">
      Entrar
    </a>
  </div>
</div>
